#map {
    height: 100vh;
    width: 100%;
}

.radius-background {
    background: rgba(70, 65, 65, 0.2);
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px rgba(107, 104, 104, 0.2);
    display: grid;
    left: 8px;
    place-items: center;
    position: absolute;
    top: 8px;
    z-index:1;
}

#radius, #category {
    border-radius: 5px;
    border: 2px solid #d9dbda ;
    margin-top: 4%;
    margin-bottom: 4%;
    position: relative;
    width:80%;
}

::placeholder {
    color: #838080;
    font-size: .9em;
}

.storeMarker {
    background-image: url('location.png');
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.mapboxgl-popup {
    border-radius: 5px;
    max-width: 20px;
}

.mapboxgl-popup-content {
    background-color:#7febe7;
    opacity: 0.8;
    text-align: center;
}

